#  Markdown Basics

## Markdown Basics

### Markdown Basics

#### Markdown Basics

##### Markdown Basics

###### Markdown Basics

* **Bold**

* *itallic*

* ***itallic bold***

* Normal text
     * sublist1
     * sublist2

1. ordered list element 1
2. ordered list element 2

[Jupter Logo](Jupyterlogo.png)

# python basics
      1. Scripting
      2. Object Oriented
      3. Functional

In [1]:
# Python Comments

print("Good Afternoon", "!", end="||") 
print("Hello Python")

Good Afternoon !||Hello Python

In [15]:
## assignment same value

n1 = 123456 

n2 = n3 = n4 = n1 

n1

123456

In [7]:
#different assignment values
a, b, c = 123, 234, 345 

print(a, b, c)

123 234 345

* datatypes & conversion
     * int
     * float
     * string

In [11]:
type(a)



f1 = 12.345
type(f1)

int

In [12]:
s1 = "Python"
type(s1)

str

In [13]:
f1 = 12.345
type(f1)

float

In [14]:
float(str(int(f1)))

12.0

* Arithmetic Operations
     * +
     * -
     * *
     * /
     * %

In [22]:
n1 % 11

n3 = n2 ** 12

type(n3)
len(str(n3))

atoms = 10 ** 82
len(str(atoms))
type(str(atoms))

122321 ** 9

6130687873308026945890176790042303730066739281

In [25]:
#Conditionals
if atoms < 10 ** 9:
    print("TRUE")
else:
    print("FALSE")

FALSE

In [26]:
# Check if a number is Even

n = 123
if n % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [28]:
# Find the greatest of 3 numbers

n1 = int(input("Enter the first number"))
n2 = int(input("Enter the second number"))
n3 = int(input("Enter the third number"))

if n1 > n2 and n1 > n3:
    print(n1, "is the greatest")
elif n2 > n3:
    print(n2, "is the greatest")
else:
    print(n3, "is the greatest")

Enter the first number-1
Enter the second number-2
Enter the third number-0
0 is the greatest

In [29]:
# Check if a year is a Leap year
year = 1234
if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Not a Leap Year

In [30]:
# Check if a number exists in a given range(inclusive)

n1 = 123
lb = 50
ub = 150

if n1 >= lb and n1 <= ub:
    print("Number exists in the given range")
else:
    print(n1, "does not exist in the given range")

Number exists in the given range

In [31]:
# Calculate the number of digits in a number
n1 = 134245925
print(len(str(n1)))

9

In [32]:
# Check if a number is a multiple of 10
if n % 10 == 0:
    print(n1, "is a multiple of 10")
else:
    print(n1, "is not a multiple of 10")

134245925 is not a multiple of 10

In [33]:
# Check if a number is a factor of 1000
if 1000 % n1 == 0:
    print(n1, "is a factor of 10")
else:
    print(n1, "is not a factor of 10")

134245925 is not a factor of 10

In [35]:
# Check if given string is equal to a number
s1 = "python"
n1 = 123456
if str(n1) == s1:
    print(n1, "is equal to", s1)
else:
    print(n1, "is not equal to", s1)

123456 is not equal to python

In [37]:
# Calculate the Square root of a number without functions
n1 = 123
n1 ** 0.5

11.090536506409418

In [38]:
# Calculate the number of nano seconds in a 
#given year(considering leap year logic)
year = 2016
if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
    print(366 * 24 * 60 * 60 * (10**9))
else:
    print(365 * 24 * 60 * 60 * (10**9))

31622400000000000